.highLite{
  display: block;
  border: solid 0.5px var(--border);
  border-radius: var(--border-rad);
  position: relative;
  overflow: auto;
  height: auto; /* set as desired */

  /* Highlighting Colors */
  --hl-bg: #282c34;
  --hl-fg: #abb2bf;
  --hl-comment: #636d83;
  --hl-keyword: #10b1fe;
  --hl-function: #3fc56b;
  --hl-property: #ce9887;
  --hl-string: #f9c859;
  --hl-number: #ff78f8;
  --hl-constant: #9f7efe;
  --hl-mark-tag: #3691ff;
  --hl-mark-attr: #ff936a;
  --hl-class: #ff6480;
  --hl-operators: #7a82da;
}

.highLite_colors,
.highLite_editable {
  font-family: Courier;
  white-space: pre;
  word-wrap: break-all;
  padding: 0.5rem;
  min-height: calc(100% - 1rem);
}

/* THE UNDERLAYING ONE WITH COLORS */
.highLite_colors {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  user-select: none;
  color: var(--hl-fg);
  background-color: var(--hl-bg);
}

/* THE OVERLAYING CONTENTEDITABLE WITH TRANSPARENT TEXT */
.highLite_editable {
  display: block;
  position: relative;
  color: transparent; /* Make text invisible */
  caret-color: var(--hl-fg); /* But keep caret visible */
}
.highLite_editable:focus {
  outline: none;
}

.hl_symbol {
  color: var(--hl-operators);
}
.hl_comment {
  color: var(--hl-comment);
}
.hl_space {
  color: var(--hl-fg);
}
.hl_word {
  color: var(--hl-keyword);
}
.hl_function {
  color: var(--hl-function);
}
.hl_atword {
  color: var(--hl-keyword);
}



.hl_property {
  color: var(--hl-property)
}
