.highLite{
  display: block;
  border: solid 0.5px var(--border);
  border-radius: var(--border-rad);
  position: relative;
  overflow: auto;
  height: auto; /* set as desired */

  /* Code Colors */
  --code-bg: #282c34;
  --code-text: #abb2bf;

  /* Highlighting Colors */
  --hl-comment: #636d83;
  --hl-bracket: #05BC79;
  --hl-curly: #2472C8;
  --hl-color: #0aac89;
  --hl-var: #e5a212;
  --hl-operators: #7a82da;
}

.highLite_colors,
.highLite_editable {
  font-family: Courier;
  white-space: pre;
  word-wrap: break-all;
  padding: 0.5rem;
  min-height: calc(100% - 1rem);
}

/* THE UNDERLAYING ONE WITH COLORS */
.highLite_colors {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  user-select: none;
  color: var(--code-text);
  background-color: var(--code-bg);
}

/* THE OVERLAYING CONTENTEDITABLE WITH TRANSPARENT TEXT */
.highLite_editable {
  display: block;
  position: relative;
  color: transparent; /* Make text invisible */
  caret-color: var(--code-text); /* But keep caret visible */
}
.highLite_editable:focus {
  outline: none;
}

.hl_bracket{ color: var(--hl-bracket) }
.hl_curly{ color: var(--hl-curly); }
.hl_color{ color: var(--hl-color); }
.hl_operators{ color: var(--hl-operators); }
.hl_var{ color: var(--hl-var); }
.hl_comment{ color: var(--hl-comment); }